
<div class="col">
<div class="card" style="width: 18rem;" >
    <img class="card-img-top" [src]=manga?.urlFoto alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{manga?.titulo}}</h2>
      <p class="card-text">{{manga?.descripcion}}</p>
      <div style="display: flex; justify-content: space-between;">
      <a [href]=manga?.link class="btn btn-primary btn-verde" target="_blank">Opcion 1</a>
      <a *ngIf="manga?.link2 != ''" [href]=manga?.link2 class="btn btn-primary btn-verde" target="_blank">Opcion 2</a>
    </div>
    <div *ngIf="manga?.estado === 'Sin leer'" class="redondo-sinleer">Sin leer</div>
    <div *ngIf="manga?.estado === 'Proceso'" class="redondo-proceso">En proceso</div>
    <div *ngIf="manga?.estado === 'Leido'" class="redondo-leido">Leido</div>

    </div>
  </div>
</div>
