.btn-verde{
    align-content: center;
    width: 110px;
    border: none;
    background-color: #A0C49D;
}

.redondo-proceso{
    background-color: yellow;
    height: 25px;
    border-radius: 25px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    justify-content: center;
    font-size: 17px;
}

.redondo-leido{
    background-color: green;
    height: 25px;
    border-radius: 25px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    justify-content: center;
    font-size: 17px;
}

.redondo-sinleer{
    background-color: red;
    height: 25px;
    border-radius: 25px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    justify-content: center;
    font-size: 17px;
}

.contenedor {
    position: relative;
    display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
  }
  
  .boton {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
    width: 40px;
    height: 40px;
    background-color: white; /* Color de fondo del botón */
    border-radius: 50%; /* Hace el botón redondo */
    z-index: 1; /* Asegura que esté encima de la imagen */
    background-image: url('../../../assets/icons/icono-lapiz.png'); /* Ruta del icono */
    background-size: 80%; /* Ajusta el tamaño del icono */
    background-position: center; /* Centra el icono */
    border: 3px solid black;
    cursor: pointer;
  }