.btn-search{
    align-content: center;
    width: 110px;
    border: none;
    height: 26px;
    font-size: 18px;
    background-color: #A0C49D;
    border-radius: 10px;
    font-weight: 500;
}

.txt-ser{
    font-family: sans-serif;
    font-weight: 600;
}

.separation{
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}